<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    
    <target xsi:type="File" name="General" fileName="logs/ytdllog_${shortdate}.log" layout="[${longdate}] ${uppercase:${level}}: ${message}${onexception:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=1:format:ToString}}" fileAttributes="ReadOnly"/>
    <target xsi:type="File" name="CrashLog" fileName="crashLogs/ytdlcrash_${shortdate}__${time}.dmp" fileAttributes="ReadOnly" layout="===================================================================================================${newline}${processname} crash report${newline}===================================================================================================${newline}${newline}The app crashed unexpectly!${newline}${newline}Time: ${longdate}${newline}Assembly version: ${assembly-version}${newline}Memory allocated: ${gc}${newline}GUID: ${guid}${newline}Machine name: ${machinename}${newline}${newline}Exception trace${newline}===================================================================================================${newline}${newline}${message}" />
    <target xsi:type="Debugger" name="Debugger" layout="NLOG: [${longdate}] ${uppercase:${level}}: ${message}" />
    
    <target xsi:type="WebService" name="CrashWebReport" url="http://ytdownloaderapi.azurewebsites.net/api/crashreport" protocol="HttpPost" encoding="UTF-8">
      <parameter name="ProcessName" type="System.String" layout="${processname}" />
      <parameter name="Time" type="System.String" layout="${longdate}" />
      <parameter name="AssemblyVersion" type="System.String" layout="${assembly-version}" />
      <parameter name="Guid" type="System.String" layout="${guid}" />
      <parameter name="MemoryAllocated" type="System.Int32" layout="${gc}" />
      <parameter name="MachineName" type="System.String" layout="${machinename}" />
      <parameter name="Exception" type="System.String" layout="${message}" />
    </target>
    
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="CrashLog" minlevel="Fatal" writeTo="CrashLog" />
    <logger name="CrashWebReport" minlevel="Fatal" writeTo="CrashWebReport" />
    <logger name="*" minlevel="Trace" writeTo="General" />
    <logger name="*" minlevel="Warn" writeTo="Debugger" />
  </rules>
</nlog>