<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTMusicDownloaderLib.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTMusicDownloaderLib.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <YTMusicDownloaderLib.Properties.Settings>
      <setting name="GitHubRepositoryName" serializeAs="String">
        <value>YTMusicDownloader</value>
      </setting>
    </YTMusicDownloaderLib.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <YTMusicDownloaderLib.Properties.Settings>
      <setting name="GitHubRepositoryOwner" serializeAs="String">
        <value>chris579</value>
      </setting>
    </YTMusicDownloaderLib.Properties.Settings>
  </applicationSettings>
</configuration>