<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTMusicDownloaderLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTMusicDownloaderLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <YTMusicDownloaderLib.Properties.Settings>
      <setting name="GitHubRepositoryName" serializeAs="String">
        <value>YTMusicDownloader</value>
      </setting>
      <setting name="GoogleApiKey" serializeAs="String">
        <value>AIzaSyBdA-M63y7UxOSm-lnMU_Ss3EtqJqq1KN4</value>
      </setting>
    </YTMusicDownloaderLib.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <YTMusicDownloaderLib.Properties.Settings>
      <setting name="GitHubRepositoryOwner" serializeAs="String">
        <value>chris579</value>
      </setting>
    </YTMusicDownloaderLib.Properties.Settings>
  </applicationSettings>
</configuration>